<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulator">

    <!-- TODO Adjust all links, joints, visuals, collision and inertias for theseus -->

    <xacro:arg name="is_sim" default="false" />
    <xacro:arg name="is_ignition" default="true" />

    <!-- Include Gazebo Parameters (only relevant for sim) -->
    <!-- <xacro:include filename="$(find theseus_description)/urdf/manipulator_gazebo.xacro"/> -->
    <!-- Include ros2_control plugins -->
    <xacro:include filename="$(find theseus_description)/urdf/manipulator_ros2_control.xacro"/>

    <!-- Mesh scale -->
    <xacro:property name="mesh_scale" value="0.001 0.001 0.001"/>

    <!-- Useful XACRO variables -->
    <xacro:property name="PI" value="3.14159265358979323846"/>
    <xacro:property name="effort" value="10.0"/>   
    <xacro:property name="velocity" value="5.0"/>       

    <!-- Link -->
    <xacro:property name="link2_length" value="0.235"/>
    <xacro:property name="step_reductor_height" value="0.025"/>
    <xacro:property name="finger_length" value="0.15"/>

    <!-- Arm Base Link  -->
    <xacro:property name="base_cilinder_height" value="0.025"/>
    <xacro:property name="base_cilinder_radius" value="0.08"/>
    <xacro:property name="base_servo_distance_from_center" value="0.08"/>
    <xacro:property name="joint_1_lower_limit" value="0"/>
    <xacro:property name="joint_1_upper_limit" value="${2*PI}"/>

    <!-- Arm Link 1 -->
    <xacro:property name="servo_motor_1_width" value="0.05"/>
    <xacro:property name="servo_motor_1_depth" value="0.03"/>
    <xacro:property name="servo_motor_1_height" value="0.06"/>
    <xacro:property name="servo_motor_1_angle" value="${PI/4}"/>
    <xacro:property name="servo_motor_1_offset_angle" value="-${3*PI/4}"/>
    <xacro:property name="servo_hinge_1_width" value="0.065"/>
    <xacro:property name="servo_hinge_1_depth" value="0.03"/>
    <xacro:property name="servo_hinge_1_height" value="0.035"/>
      
    <xacro:property name="joint_2_lower_limit" value="${PI/4}"/>
    <xacro:property name="joint_2_upper_limit" value="${3*PI/2}"/>
    <xacro:property name="link1_length" value="0.275"/>
    
    <!-- Arm Link 2 -->
    <xacro:property name="servo_motor_2_width" value="0.05"/>
    <xacro:property name="servo_motor_2_depth" value="0.03"/>
    <xacro:property name="servo_motor_2_height" value="0.06"/>
    <xacro:property name="servo_motor_2_offset_angle" value="-${3*PI/4}"/>
    <xacro:property name="servo_hinge_2_width" value="0.065"/>
    <xacro:property name="servo_hinge_2_depth" value="0.03"/>
    <xacro:property name="servo_hinge_2_height" value="0.035"/>

    <xacro:property name="joint_3_lower_limit" value="${3*PI/4}"/>
    <xacro:property name="joint_3_upper_limit" value="${3*PI/2}"/>

    <!-- Macros -->
    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <mass value="${mass}"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                     iyy="1.0" iyz="0.0"
                     izz="1.0"/>
        </inertial>
    </xacro:macro>

    <!-- Links and joints -->

    <link name="world"/>

    <link name="base_arm_link">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 ${base_cilinder_height}"/>
            <geometry>
                <cylinder radius="${base_cilinder_radius}" length="${base_cilinder_height}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 ${base_cilinder_height}"/>
            <geometry>
                <cylinder radius="${base_cilinder_radius}" length="${base_cilinder_height}"/>
            </geometry>
        </collision>
    </link>

    <joint name="arm_joint_1" type="revolute">
        <parent link="world"/>
        <child link="base_arm_link"/>
        <axis xyz="0 0 -1"/>
        <origin rpy="0 0 0" xyz="0 0 ${base_cilinder_height}"/>
        <limit lower="${joint_1_lower_limit}" upper="${joint_1_upper_limit}" effort="${effort}" velocity="${velocity}"/>
    </joint>

    <link name="motor_link_1">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 ${servo_motor_1_depth}"/>
            <geometry>
                <box size="${servo_motor_1_width} ${servo_motor_1_depth} ${servo_motor_1_height}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 ${servo_motor_1_depth}"/>
            <geometry>
                <box size="${servo_motor_1_width} ${servo_motor_1_depth} ${servo_motor_1_height}"/>
            </geometry>
        </collision>
    </link>

    <joint name="motor_joint_1" type="fixed">
        <parent link="base_arm_link"/>
        <child link="motor_link_1"/>
        <origin rpy="${servo_motor_1_angle} 0 0" xyz="0 -${servo_motor_1_depth} ${servo_motor_1_width}"/>
    </joint>

    <link name="hinge_link_1">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 ${servo_hinge_1_height/2}"/>
            <geometry>
                <box size="${servo_hinge_1_width} ${servo_hinge_1_depth} ${servo_hinge_1_height}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 ${servo_hinge_1_height/2+servo_hinge_1_height/3}"/>
            <geometry>
                <box size="${servo_hinge_1_width} ${servo_hinge_1_depth} ${servo_hinge_2_height/3}"/>
            </geometry>
        </collision>
    </link>

    <joint name="hinge_joint_1" type="revolute">
        <parent link="motor_link_1"/>
        <child link="hinge_link_1"/>
        <origin rpy="${servo_motor_1_offset_angle} 0 0" xyz="0 0 ${servo_motor_1_height}"/>
        <axis xyz="1 0 0"/>
        <limit lower="${joint_2_lower_limit}" upper="${joint_2_upper_limit}" effort="${effort}" velocity="${velocity}"/>
    </joint>

    <link name="arm_link_1">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 ${link1_length/2}"/>
            <geometry>
                <cylinder radius="0.02" length="${link1_length}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 ${link1_length/2}"/>
            <geometry>
                <cylinder radius="0.02" length="${link1_length}"/>
            </geometry>
        </collision>
    </link>

    <joint name="arm_joint_2" type="fixed">
        <parent link="hinge_link_1"/>
        <child link="arm_link_1"/>
        <origin rpy="0 0 0" xyz="0 0 ${servo_hinge_1_height}"/>
    </joint>

    <link name="motor_link_2">
        <xacro:default_inertial mass="1.0"/>
                <visual>
            <origin rpy="0 0 0" xyz="0 0 ${servo_motor_2_depth}"/>
            <geometry>
                <box size="${servo_motor_2_width} ${servo_motor_2_depth} ${servo_motor_2_height}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 ${servo_motor_2_depth}"/>
            <geometry>
                <box size="${servo_motor_2_width} ${servo_motor_2_depth} ${servo_motor_2_height}"/>
            </geometry>
        </collision>
    </link>

    <joint name="motor_joint_2" type="fixed">
        <parent link="arm_link_1"/>
        <child link="motor_link_2"/>
        <origin rpy="0 0 0" xyz="0 0 ${link2_length+servo_motor_2_height/2}"/>
    </joint>

    <link name="hinge_link_2">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 ${servo_hinge_2_height/2}"/>
            <geometry>
                <box size="${servo_hinge_2_width} ${servo_hinge_2_depth} ${servo_hinge_2_height}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 ${servo_hinge_2_height/2+servo_hinge_2_height/3}"/>
            <geometry>
                <box size="${servo_hinge_2_width} ${servo_hinge_2_depth} ${servo_hinge_2_height/3}"/>
            </geometry>
        </collision>
    </link>

    <joint name="hinge_joint_2" type="revolute">
        <parent link="motor_link_2"/>
        <child link="hinge_link_2"/>
        <origin rpy="${servo_motor_2_offset_angle} 0 0" xyz="0 0 ${servo_motor_2_height}"/>
        <axis xyz="1 0 0"/>
        <limit lower="${joint_3_lower_limit}" upper="${joint_3_upper_limit}" effort="${effort}" velocity="${velocity}"/>
    </joint>

     <link name="arm_link_2">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 ${link2_length/2}"/>
            <geometry>
                <cylinder radius="0.02" length="${link2_length}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 ${link2_length/2}"/>
            <geometry>
                <cylinder radius="0.02" length="${link2_length}"/>
            </geometry>
        </collision>
    </link>

    <joint name="arm_joint_3" type="fixed">
        <parent link="hinge_link_2"/>
        <child link="arm_link_2"/>
        <origin rpy="0 0 0" xyz="0 0 ${servo_hinge_2_height}"/>
    </joint>

    <link name="claw_link">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 ${PI/2} 0" xyz="-0.09 -0.095 -0.12"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/pulso-garra.stl" scale="${mesh_scale}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.01"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/pulso-garra.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="arm_to_claw_joint" type="fixed">
        <parent link="arm_link_2"/>
        <child link="claw_link"/>
        <origin rpy="0 0 0" xyz="0 0 ${link2_length}"/>
    </joint>

    <link name="gripper_center"/>

    <joint name="gripper_center_joint" type="fixed">
        <parent link="claw_link"/>
        <child link="gripper_center"/>
        <origin rpy="0 0 0" xyz="0 0 ${-finger_length/2}"/>
    </joint>

    <link name="gripper_right">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 0 0" xyz="-0.0825 -0.08 0.0975"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/palma-garra.stl" scale="${mesh_scale}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="-0.0825 -0.08 0.0975"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/palma-garra.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <link name="gripper_left">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <origin rpy="0 0 -${PI}" xyz="0.0825 0.08 0.0975"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/palma-garra.stl" scale="${mesh_scale}"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 -${PI}" xyz="0.0825 0.08 0.0975"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/palma-garra.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="gripper_joint_1" type="revolute">
        <parent link="claw_link"/>
        <child link="gripper_right"/>
        <axis xyz="0 1 0"/>
        <origin rpy="0 0 0" xyz="0.015 0 0.05"/>
        <limit lower="0" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>

    <joint name="gripper_joint_2" type="revolute">
        <parent link="claw_link"/>
        <child link="gripper_left"/>
        <axis xyz="0 1 0"/>
        <origin rpy="0 0 0" xyz="-0.015 0 0.05"/>
        <mimic joint="gripper_joint_1" multiplier="-1"/>
        <limit lower="0" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>

    <!-- Primeiro 6cm, depois 34cm, depois 27cm -->

</robot>