<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="theseus">

    <!-- Simulation flags for switching simulation engines before and after ROS2 Humble -->
    <xacro:arg name="is_sim" default="false" />
    <xacro:arg name="is_ignition" default="true" />
    <!-- Include Gazebo Parameters (only relevant for sim) -->
    <xacro:include filename="$(find theseus_description)/urdf/theseus_gazebo.xacro"/>
    <!-- Include ros2_control plugins -->
    <xacro:include filename="$(find theseus_description)/urdf/theseus_ros2_control.xacro"/>

    <!-- Placeholder properties (may need changing later) -->
    <xacro:property name="PI" value="3.14159265358979323846"/>
    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <mass value="${mass}"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                     iyy="1.0" iyz="0.0"
                     izz="1.0"/>
        </inertial>
    </xacro:macro>
    <xacro:property name="effort" value="10.0"/>   
    <xacro:property name="velocity" value="5.0"/>       

    <!-- Mesh rendering properties -->
    <xacro:property name="mesh_scale" value="0.003 0.003 0.003"/> 
    <material name="default_red">
        <color rgba="0.8 0.2 0.2 1"/>
    </material>
    <xacro:macro name="default_sim_texture">
        <material name="default_red">
            <ambient>0.4 0.4 0.4 1</ambient>
            <diffuse>0.8 0.2 0.2 1</diffuse>
            <specular>0.1 0.1 0.1 1</specular>
        </material>
        <gazebo>
            <cast_shadows>true</cast_shadows>
        </gazebo>
    </xacro:macro>

    <!-- Joint distances -->
    <!-- They are relative to one another eg. arm_joint_2 distances are relative to arm_joint_1 position -->
    <xacro:property name="base_arm_joint_x" value="0.0"/>
    <xacro:property name="base_arm_joint_y" value="0.0"/> 
    <xacro:property name="base_arm_joint_z" value="0.00"/> 

    <xacro:property name="arm_joint_1_x" value="0.0"/>
    <xacro:property name="arm_joint_1_y" value="0.0"/> 
    <xacro:property name="arm_joint_1_z" value="0.31"/> 

    <xacro:property name="arm_joint_2_x" value="0.0"/>
    <xacro:property name="arm_joint_2_y" value="0.0"/> 
    <xacro:property name="arm_joint_2_z" value="0.75"/> 

    <xacro:property name="arm_joint_3_x" value="0.0"/>
    <xacro:property name="arm_joint_3_y" value="-0.225"/> 
    <xacro:property name="arm_joint_3_z" value="0.485"/> 

    <xacro:property name="arm_joint_4_x" value="0.0"/>
    <xacro:property name="arm_joint_4_y" value="-0.25"/> 
    <xacro:property name="arm_joint_4_z" value="-0.91"/> 

    <xacro:property name="gripper_joint_x" value="0.0"/>
    <xacro:property name="gripper_joint_y" value="0.0"/> 
    <xacro:property name="gripper_joint_z" value="-0.12"/> 

    <xacro:property name="finger_length" value="0.14"/>
    <xacro:property name="finger_separation" value="0.04"/>

    <!-- Links and Joints -->
    <link name="world"/>

    <link name="base_link">
        <xacro:default_inertial mass="0.2"/>
        <visual>
            <origin rpy="0 0 0" xyz="${base_arm_joint_x-0.015} ${base_arm_joint_y} ${base_arm_joint_z+0.38}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_1.stl" scale="${mesh_scale}"/>
            </geometry>
            <xacro:default_sim_texture/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="${base_arm_joint_x-0.015} ${base_arm_joint_y} ${base_arm_joint_z+0.38}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_1.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="base_arm_joint" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin rpy="0 0 0" xyz="${base_arm_joint_x} ${base_arm_joint_y} ${base_arm_joint_z}"/>
    </joint>

    <link name="arm_link_1">
        <xacro:default_inertial mass="1.0"/>
        <visual>
            <!-- 0 0 0.075 -->
            <origin rpy="0 0 0" xyz="${arm_joint_1_x} ${arm_joint_1_y} ${arm_joint_1_z-0.235}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_2.stl" scale="${mesh_scale}"/>
            </geometry>
            <xacro:default_sim_texture/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="${arm_joint_1_x} ${arm_joint_1_y} ${arm_joint_1_z-0.235}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_2.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="arm_joint_1" type="revolute">
        <parent link="base_link"/>
        <child link="arm_link_1"/>
        <axis xyz="1 0 0"/>
        <origin rpy="0 0 0" xyz="${arm_joint_1_x} ${arm_joint_1_y} ${arm_joint_1_z}"/>
        <limit lower="-${PI/2}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>

    <link name="arm_link_2">
        <xacro:default_inertial mass="0.3"/>
        <visual>
            <!-- 0 0 -0.66 -->
            <origin rpy="0 0 0" xyz="${arm_joint_2_x} ${arm_joint_2_y} ${arm_joint_2_z-1.41}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_3.stl" scale="${mesh_scale}"/>
            </geometry>
            <xacro:default_sim_texture/>
        </visual>
        <collision>
            <!-- 0 0 -0.66 -->
            <origin rpy="0 0 0" xyz="${arm_joint_2_x} ${arm_joint_2_y} ${arm_joint_2_z-1.41}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_3.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="arm_joint_2" type="revolute">
        <parent link="arm_link_1"/>
        <child link="arm_link_2"/>
        <axis xyz="0 0 1"/>
        <origin rpy="0 0 0" xyz="${arm_joint_2_x} ${arm_joint_2_y} ${arm_joint_2_z}"/>
        <limit lower="-${PI/2}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>

    <link name="arm_link_3">
        <xacro:default_inertial mass="0.5"/>
        <visual>
            <!-- 0 0.22 -1.15 -->
            <origin rpy="0 0 0" xyz="${arm_joint_3_x} ${arm_joint_3_y+0.445} ${arm_joint_3_z-1.635}"/> 
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_4.stl" scale="${mesh_scale}"/>
            </geometry>
            <xacro:default_sim_texture/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="${arm_joint_3_x} ${arm_joint_3_y+0.445} ${arm_joint_3_z-1.635}"/> 
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_4.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="arm_joint_3" type="revolute">
        <parent link="arm_link_2"/>
        <child link="arm_link_3"/>
        <axis xyz="1 0 0"/>
        <origin rpy="0 0 0" xyz="${arm_joint_3_x} ${arm_joint_3_y} ${arm_joint_3_z}"/>
        <limit lower="-${PI/2}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>

    <link name="arm_link_4">
        <xacro:default_inertial mass="0.2"/>
        <visual>
            <!-- 0 0.47 -0.24 -->
            <origin rpy="0 0 0" xyz="${arm_joint_4_x} ${arm_joint_4_y+0.72} ${arm_joint_4_z+0.67}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_5.stl" scale="${mesh_scale}"/>
            </geometry>
            <xacro:default_sim_texture/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="${arm_joint_4_x} ${arm_joint_4_y+0.72} ${arm_joint_4_z+0.67}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/theseus_link_5.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="arm_joint_4" type="revolute">
        <parent link="arm_link_3"/>
        <child link="arm_link_4"/>
        <axis xyz="1 0 0"/>
        <origin rpy="0 0 0" xyz="${arm_joint_4_x} ${arm_joint_4_y} ${arm_joint_4_z}"/>
        <limit lower="-${PI/2}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>
    
    <!-- Not the real claw -->

    <link name="gripper_link">
        <xacro:default_inertial mass="0.1"/>
        <visual>
            <origin rpy="0 ${PI/2} -${PI/2}" xyz="0 0 -0.05"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/gripper_main_link.stl" scale="${mesh_scale}"/>
            </geometry>
            <xacro:default_sim_texture/>
        </visual>
        <collision>
            <origin rpy="0 ${PI/2} -${PI/2}" xyz="0 0 -0.05"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/gripper_main_link.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="gripper_joint" type="revolute">
        <parent link="arm_link_4"/>
        <child link="gripper_link"/>
        <axis xyz="0 0 1"/>
        <origin rpy="0 0 0" xyz="${gripper_joint_x} ${gripper_joint_y} ${gripper_joint_z}"/>
        <limit lower="-${PI/2}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>

    <link name="gripper_right">
        <xacro:default_inertial mass="0.1"/>
        <visual>
            <origin rpy="0 ${PI/2} -${PI/2}" xyz="-0 0 -${finger_length/2}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/gripper_link.stl" scale="${mesh_scale}"/>
            </geometry>
            <xacro:default_sim_texture/>
        </visual>
        <collision>
            <origin rpy="0 ${PI/2} -${PI/2}" xyz="-0 0 -${finger_length/2}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/gripper_link.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <link name="gripper_left">
        <xacro:default_inertial mass="0.1"/>
        <visual>
            <origin rpy="0 ${PI/2} -${PI/2}" xyz="0 0 -${finger_length/2}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/gripper_sub_link.stl" scale="${mesh_scale}"/>
            </geometry>
            <xacro:default_sim_texture/>
        </visual>
        <collision>
            <origin rpy="0 ${PI/2} -${PI/2}" xyz="0 0 -${finger_length/2}"/>
            <geometry>
                <mesh filename="package://theseus_description/meshes/gripper_sub_link.stl" scale="${mesh_scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="gripper_joint_1" type="revolute">
        <parent link="gripper_link"/>
        <child link="gripper_right"/>
        <axis xyz="0 1 0"/>
        <origin rpy="0 0 0" xyz="${-finger_separation} 0 ${-finger_length}"/>
        <limit lower="${-PI/9}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>

    <joint name="gripper_joint_2_mimic" type="fixed">
        <parent link="gripper_link"/>
        <child link="gripper_left"/>
        <!-- <axis xyz="0 1 0"/> -->
        <origin rpy="0 0 0" xyz="${finger_separation} 0 ${-finger_length}"/>
        <!-- <mimic joint="gripper_joint_1" multiplier="-1"/>
        <limit lower="${-PI/9}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/> -->
    </joint>

    <!-- <joint name="gripper_joint_2_mimic" type="fixed">
    <parent link="world" />
    <child link="gripper_left" />
    </joint> -->

</robot>